<br/>
<div id="footer">
      <div class="container">
      	<div class="footer_stuff">
      		<p>
      			<b>@GikTuts 2013</b>
      		</p>
      		
      	</div>	

      	<div class="social">
      			<%= image_tag "facebook.png", size: "45x45" %>
      			<%= image_tag "twitter1.png", size: "45x45" %>
      	</div>
      </div>
</div>