
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><h4>Theo cấp độ</h4></li>
       <li><a href="#">Cơ bản</a></li>
       <li><a href="#">Nâng cao</a></li>
       <li><a href="#">Chuyên sâu</a></li>
       <li><h4>Theo tags</h4></li>
       <li><a href="#">Linux</a></li>
       <li><a href="#">Ruby on Rails</a></li>
       <li><a href="#">Postgresql</a></li>
       <li><h4>Theo tác giả</h4></li>
       <li><a href="#">Long Nguyen</a></li>
       <li><a href="#">Tung Nguyen</a></li>
       <li><a href="#">Khanh Pham</a></li>
    </ul>
  </div>
</div>
