  <% if request.fullpath == "/" %>
    <div class="jumbotron">
       <div class="container">
           <h1>Xin Chào Các Geek IT</h1>
           <p>
             GikTuts muốn chia sẻ những kiến thức và mẹo vặt về lập trình, Unix, và những công nghệ mới liên quan đến công nghệ thông tin bằng những video ngắn gọn trừng 5 tới 10 phút. 
           </p>
           <p><a href="/library" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;Thư viện videos</a>
       </div>
    </div>
  <% end %>