<h3><span class="feature">&nbsp;&nbsp;#Video mới được upload&nbsp;&nbsp;</span></h3>

<div class="row">
   <div class="col-lg-5">
      <h4>Foundation</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Foundation" height="90" src="http://railscasts.com/static/episodes/stills/417-foundation.png" width="100">
        </div>

        <div class="col-lg-9">
          ZURB's Foundation is a front-end for quickly building applications and prototypes. It is similar to Twitter Bootstrap but uses Sass instead of LESS. Here you will learn the basics of the grid system, navigation, tooltips and more.
        </div>
      </div> 

   </div>


   <div class="col-lg-5">
      <h4>Form Objects</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Form Objects" height="90" src="http://railscasts.com/static/episodes/stills/416-form-objects.png" width="100">
        </div>

        <div class="col-lg-9">
          Models have a tendency to become a complex mess as an application grows. In this episode you will learn a couple of techniques to extract form-behavior out into its own class.
        </div>
      </div> 
 
   </div>


</div>

<div class="row">

   <div class="col-lg-5">
      <h4>Model Caching</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Model Caching" height="90" src="http://railscasts.com/static/episodes/stills/115-model-caching-revised.png" width="100">
        </div>

        <div class="col-lg-9">
          Caching at a low level is a great option when the view is too dynamic to cache and you need something flexible that can work anywhere in the application. Here I show a variety of ways to use Rails.cache with Active Record.
        </div>
      </div> 

   </div>



   <div class="col-lg-5">
      <h4>Upgrading to Rails 4</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Upgrading to Rails 4" height="90" src="http://railscasts.com/static/episodes/stills/415-upgrading-to-rails-4.png" width="100">
        </div>

        <div class="col-lg-9">
          With the release of Rails 4.0.0.rc1 it's time to try it out and report any bugs. Here I walk you through the steps to upgrade a Rails 3.2 application to Rails 4.
        </div>
      </div> 

   </div>
  
</div>






<h3><span class="feature">&nbsp;&nbsp;#Video được view nhiều nhất&nbsp;&nbsp;</span></h3>

<div class="row">
   <div class="col-lg-5">
      <h4>Batch API Requests</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Batch API Requests" height="90" src="http://railscasts.com/static/episodes/stills/414-batch-api-requests.png" width="100">
        </div>

        <div class="col-lg-9">
          Here I demonstrate how to perform bulk API operations though a single request using Rack middleware. This is great if you need to trigger multiple actions at once such as if the user goes offline.
        </div>
      </div> 

   </div>


   <div class="col-lg-5">
      <h4>Handling Exceptions</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Handling Exceptions" height="90" src="http://railscasts.com/static/episodes/stills/053-handling-exceptions-revised.png" width="100">
        </div>

        <div class="col-lg-9">
          By default, Rails will render a static error file when an exception occurs in production. Here you will learn how to fully customize this behavior and render dynamic error pages. 
        </div>
      </div> 

   </div>


</div>

<div class="row">

   <div class="col-lg-5">
      <h4>Fast Tests</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Fast Tests" height="90" src="http://railscasts.com/static/episodes/stills/413-fast-tests.png" width="100">
        </div>

        <div class="col-lg-9">
          A slow test suite can put a damper on test-driven development. In this episode I show a variety of ways to optimize specs including: selective testing, preloading Rails, and testing outside of Rails.
        </div>
      </div> 

   </div>



   <div class="col-lg-5">
      <h4>Fast Rails Commands</h4>
      <div class="row">
        <div class="col-lg-3">
          <img alt="Fast Rails Commands" height="90" src="http://railscasts.com/static/episodes/stills/412-fast-rails-commands.png" width="100">
        </div>

        <div class="col-lg-9">
          Rails commands, such as generators, migrations, and tests, have a tendency to be slow because they need to load the Rails app each time. Here I show three tools to make this faster: Zeus, Spring, and Commands.
        </div>
      </div> 

   </div>
  
</div>
