<br/>
<div class="row row-offcanvas row-offcanvas-right"> 



  <div class="col-xs-12 col-sm-9"> 
    <p class="pull-right visible-xs"> <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button> </p>

    <h3><span class="feature">&nbsp;&nbsp;#Tất cả videos&nbsp;&nbsp;</span></h3>


    <div class="row">
      <div class="col-6 col-sm-6 col-lg-12">
        <h4><a href="/video/show">Giới thiệu Postgresql</a></h4>
        <div class="row">
          <div class="col-lg-3">
            <img alt="Migrating to PostgreSQL" height="125" src="http://railscasts.com/static/episodes/stills/342-migrating-to-postgresql.png" width="200">
          </div>
          
          <div class="col-lg-9">
            Postgres is a feature-packed relational database that every Rails developer should consider using. Here you will learn how to install it, add it to a new application, and transition from an existing SQLite app using the "taps" gem.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-12">
        <h4><a href="/video/show">Nginx & Unicorn</a></h4>
        <div class="row">
          <div class="col-lg-3">
            <img alt="Migrating to PostgreSQL" height="125" src="http://railscasts.com/static/episodes/stills/293-nginx-unicorn.png" width="200">
          </div>
          
          <div class="col-lg-9">
            Nginx and Unicorn make a killer-combo for hosting a Rails application in production. Learn how to configure each in a Vagrant virtual machine in this episode.
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-6 col-sm-6 col-lg-12">
        <h4><a href="/video/show">Ruby on Rails nâng cao</a></h4>
        <div class="row">
          <div class="col-lg-3">
            <img alt="Migrating to PostgreSQL" height="125" src="http://railscasts.com/static/episodes/stills/415-upgrading-to-rails-4.png" width="200">
          </div>
          
          <div class="col-lg-9">
            With the release of Rails 4.0.0.rc1 it's time to try it out and report any bugs. Here I walk you through the steps to upgrade a Rails 3.2 application to Rails 4
          </div>
        </div>
      </div>
    </div>
   </div>

   <%= render 'sidebar' %>
   

</div>
