<div class="clear"></div>


    <h4 class="alert_warning">A Warning Alert</h4>

    <h4 class="alert_error">An Error Message</h4>

    <h4 class="alert_success">A Success Message</h4>

    <article class="module width_full">
      <header><h3>Basic Styles</h3></header>
        <div class="module_content">
          <h1>Header 1</h1>
          <h2>Header 2</h2>
          <h3>Header 3</h3>
          <h4>Header 4</h4>
        </div>
    </article><!-- end of styles article -->
    <div class="spacer"></div>