<br/>
<div class="video-title">Basic Ubuntu</div>
<div class="detail">Jun 16, 2013 | 11 minutes | Long Nguyen</div> 
<br/>

<div class='row row-offcanvas row-offcanvas-right'>
	<div id="video-portion" class="col-lg-8">
		<video id="a240e92d" class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="740" height="400" title="Midnight Sun" data-uid="a240e92d" preload="none">
		  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
		  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
		  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
		  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
		</video>
	</div>

	<div id="similar-episodes" class="col-lg-3">
		<p><b><u>Similar episodes</u> </b> </p>
	</div>
</div>

<div class="row row-offcanvas row-offcanvas-right">
	<hr/>
</div>

<div class="col-lg-11">
	<%= raw Pygments.highlight(@code, lexer: "ruby") %>
</div>

<script type="text/javascript" src="//cdn.sublimevideo.net/js/y7t04ffg.js"></script>

<style type="text/css">
	
	#similar-episodes{
		border: 1px solid gray;
		height: 400px;

	}

	.video-title{
		font-size: 22px;
		font-weight: bold;
	}

	.detail{
		color: #7B7777;
		font-size: 12px;
	}
</style>