.col-lg-4{
	border: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 6px 6px 10px #000000;
  opacity: 0.78;
}
.col-lg-5{
	border: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 6px 6px 10px #000000;
  opacity: 0.78;
}

h3{
  font: 300 36px/1.3 'Bree Serif', Georgia, serif;
}

h1{
  font: 400 60px/1.3 'Bree Serif', Georgia, serif;
}

